<div fxLayout="row" fxLayoutAlign="center center">
    <div class="navbar">
        <span ><h3><p><i class="bi bi-envelope-at salida"></i> Enviar correo</p></h3></span>
        <i class="bi bi-x-lg no"(click)="cerrarCentrado()"></i>
      </div>
    <div class="container" [formGroup]="datos">
        <br>
        <div class="form-group">
            <input type="text" id="destinatarios" placeholder="Correo:" formControlName="correo" name="correo">
        </div>
        <div class="form-group">
            <input type="text" id="asunto" placeholder="Asunto:" formControlName="asunto" name="asunto">
        </div>
        <div class="form-group" fxLayout="row" fxLayoutAlign="center center" style="overflow-y: auto; max-height: 260px;">
            <textarea id="cuerpo" formControlName="mensaje" name="mensaje">
                 Estos Dispositivo seran enviados al decargo de bienes:
                {{ datos.get('mensaje')?.value }}
            </textarea>
          </div>
        <button (click)="enviarcorreo()">Enviar</button>
</div>
</div>