// body {
//   background: #cecab7;
//   background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #cecab7);
//   background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #cecab7);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   min-height: 200vh; 
// }
.navbar {
    background-color: #002774;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 3px solid lightgray; 
  }
.logo1{
  height: 60px;
  width: 60px;
  float: left;
  border-radius: 10px;
}
h5{
   margin-top: 5px; 
   font-family: 'Times New Roman', Times, serif;
}
img{
    width: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img2{
  width: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.boton{
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 100px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 18px; 
    background-color: #002774;
    border-radius: 100px !important;
    padding: 20px 30px; 
    margin-right: 10px;
    color: #dfdeee;
    text-decoration: none;
    border: 0;
    height: 60px; 
    transition: 0.3s;
    cursor: pointer; 
  }
  .boton:hover{
    background: #ffffff;
    color: #072879;
    border: 1px solid #072879;
    font-weight: 600;
  }
  
  .content {
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 20px;
  }
  table{
    border-collapse: collapse;
    width: 100%;
  }
  th, td{
    text-align: left;
    padding: 8px;
    border:  1px solid #fdfcfc;
    font-family: 'Times New Roman', Times, serif;
  }
  th{
    background-color: white#f2f2f2;
    border-bottom: 1px solid rgb(82, 81, 81);
    font-family: 'Times New Roman', Times, serif;
  }
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5cm;
}

.pagination label,
.pagination span,
.pagination select,
.pagination button {
   margin: 0 5px;
}
.navbar1 {
  background-color: #072879;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  color: #dfdeee;
  align-items: center;
  border-radius: 10px;
}
button{
  background-color: white;
  border: 0;
}
button:hover{
  background: #ffffff;
  color: #072879;
  border: 0;
  font-weight: 600;
}

.search-bar {
  width: 300px;
  border-radius: 10px;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
}
.editar{
  font-size: 25px;
  color: #072879;
  align-items: center;
}
.editar:hover{
  color: black;
  border: 0;
  font-weight: 600;
}
.borrar{
  font-size: 25px;
  color: red;
  align-items: center;
}
.borrar:hover{
  color: black;
  border: 0;
  font-weight: 600;
}
.borrarusuario{
  font-size: 25px;
  color: darkred;
  align-items: center;
}
.borrarusuario:hover{
  color: black;
  border: 0;
  font-weight: 600;
}