<div class="navbar">
    <i class="bi bi-x-lg no" (click)="cerrarCentrado()"></i>
</div>
<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="form">
            <div class="encabezado">
                <h2>Solicitudes</h2>
                <p class="gmail">{{ data.from }}</p>
                <p class="fecha">{{data.date}}</p>
            </div>
            <br>
            <div class="input-group mb-3">
                <input type="text" class="form-control half-width" placeholder="Correo" aria-label="Username"
         formControlName="correo" name="correo">
                </div>
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                    formControlName="estatu" name="estatu" style="height: 35px; margin:.5em 0;">
                    <option value="Aprobado">Aprobado</option>
                    <option value="En espera">En espera</option>
                    <option value="Rechazado">Rechazado</option>
                </select>
                <label for="floatingSelect">Selecione un estatu</label>
            </div>
            <div class="input-group mb-3 half-width">
                <span class="input-group-text">Asunto</span>
                <div class="form-floating">
                  <input type="text" class="form-control half-width" id="floatingInputDisabled" formControlName="asunto" name="asunto" placeholder="Username">
                  <label for="floatingInputGroup1">Asunto</label>
                </div>
              </div>
            <div fxLayout="row" fxLayoutAlign="center center" style="overflow-y: auto; max-height: 260px;">
                <div class="form-floating">
                    <textarea class="form-control text" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100px" formControlName="mensaje" name="mensaje"></textarea>
                    <label for="floatingTextarea2" class="text">Solicitud</label>
                </div>
            </div>
            <br>
            <div class="input-group mb-3">
                <input type="text" class="form-control half-width" placeholder="Comentario" aria-label="Username"
                    formControlName="comentario" name="comentario">
            </div>
            <div>
                <button class="button" (click)="enviar()">Enviar</button>
            </div>
        </form>
    </div>
</div>