<body>
  <div class="navbar">
    <div class="logo"><img src="assets/Captura.png" class="logo1">
      <h5> CONTRALORIA | REPORTE</h5>
    </div>
    <div class="user-info">
      <!--button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button-->
      <button [routerLink]="'/home'" class="boton">
        <img src="assets/salir.png">
        <i class="pi pi-cog"></i>
        <span>Home</span>
      </button>
      <!-- Iconos y nombre del usuario aquí -->
    </div>
  </div>

  <div class="content">
    <br>
    <div class="navbar1">
      <span> <img src="assets/reporte.png" class="img2"> Reporte</span>
      <button  class="boton1" (click)=" onImprimirTodos()">Imprimir todo</button>
    </div>
    <!-- <div class="search-bar mt-3">
        <input type="text" placeholder="ej. Laptop">
      </div> -->
      <br>
      <div class="checkbox">
        <!-- <h2>Ver todos los cambios</h2> -->
        <mat-checkbox class="checkbox-container" (change)=" toggletodo($event)">Ver todo</mat-checkbox>
      </div>

    <div class="checkbox">
      <h2>Reporte de los cambios de Registros</h2>
      <mat-checkbox class="checkbox-container" (change)=" toggleregistros($event)">Ver Cambios </mat-checkbox>
      <div *ngIf="registros || todo">
        <h3>-Sean actualizado {{registroregistro}} dispositivo, quedo  {{registrousu}} libres para asignar nuevamente y 5 se eliminaron.</h3>
        <table class="table table-striped mt-3 ">
          <thead>
            <tr>
              <th style="text-align: center;">Dispositivo</th>
              <th style="text-align: center;">Modelo</th>
              <th style="text-align: center;">Serial</th>
              <th style="text-align: center;">Placa</th>
              <th style="text-align: center;">Bienes Nacionales</th>
              <th style="text-align: center;">Usuario</th>
              <th style="text-align: center;">Departamento</th>
              <th style="text-align: center;">Mantenimiento</th>
              <!-- <th style="text-align: center;">Accion</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Appcontraloria of appcontraloriare; let i = index">
              <td style="text-align: center;">{{Appcontraloria.dispositivo}}</td>
              <td style="text-align: center;">{{Appcontraloria.modelo}}</td>
              <td style="text-align: center;">{{Appcontraloria.serial}}</td>
              <td style="text-align: center;">{{Appcontraloria.placa}}</td>
              <td style="text-align: center;">{{Appcontraloria.bienes_nacionales}}</td>
              <td style="text-align: center;">{{Appcontraloria.usuario}}</td>
              <td style="text-align: center;">{{Appcontraloria.Departamento}}</td>
              <td style="text-align: center;">{{Appcontraloria.mantenimiento}}</td>
              <!-- <td style="text-align: center;">{{Appcontraloria.fecha_de_actualizacion}}</td> -->
              <!-- <td style="text-align: center; vertical-align: middle;">
                <i class="bi bi-trash borrar" title="Borrar"></i>
              </td> -->
            </tr>
          </tbody>
        </table>
        <i class="bi bi-printer imprimir" *ngIf="registros"  title="Imprimir" (click)="onImprimirRegistros()"></i>
      </div>
    </div>

    <div class="checkbox">
      <h2>Reporte de los cambios de las entradas</h2>
      <mat-checkbox class="checkbox-container" (change)=" toggleentrada($event)">Ver Cambios</mat-checkbox>
      <div *ngIf="entrada || todo">
        <h3>-Sean agregado {{ registrosent }} dispositivo, sean actualizado {{registroregistro}} y se eliminaron 4.</h3>
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th style="text-align: center;">Dispositivo</th>
              <th style="text-align: center;">Modelo</th>
              <th style="text-align: center;">Serial</th>
              <th style="text-align: center;">Placa</th>
              <th style="text-align: center;">Bienes Nacionales</th>
              <th style="text-align: center;">Fecha de entrada</th>
              <th style="text-align: center;">Fecha de actualizado</th>
              <!-- <th style="text-align: center;">Accion</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Appcontraloria of appcontraloriaent; let i = index" style="text-align: center;">
              <td style="text-align: center;">{{Appcontraloria.dispositivo}}</td>
          <td style="text-align: center;">{{Appcontraloria.modelo}}</td>
          <td style="text-align: center;">{{Appcontraloria.serial}}</td>
          <td style="text-align: center;">{{Appcontraloria.placa}}</td>
          <td style="text-align: center;">{{Appcontraloria.bienes_nacionales}}</td>
          <td style="text-align: center;">{{Appcontraloria.fecha_de_entrada}}</td>
          <td style="text-align: center;">{{Appcontraloria.fecha_de_actualizacion}}</td>
              <!-- <td style="text-align: center; vertical-align: middle;">
                <i class="bi bi-trash borrar"title="Borrar"></i>
              </td> -->
            </tr>
          </tbody>
        </table>
        <!-- <button *ngIf="entrada">Imprimir</button> -->
        <i class="bi bi-printer imprimir" *ngIf="entrada"  title="Imprimir" (click)="onImprimirEntrada()"></i>
      </div>
    </div>

    <div class="checkbox">
      <h2>Reporte de los cambios de los dipositivos asignados</h2>
      <mat-checkbox class="checkbox-container" (change)=" toggleasignacion($event)">Ver Cambios</mat-checkbox>
      <div *ngIf="asignacion || todo">
        <h3>-Sean asiginado {{ registroasignar }} dispositivos</h3>
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th style="text-align: center;">Dispositivo</th>
              <th style="text-align: center;">Serial</th>
              <th style="text-align: center;">Cedula</th>
              <th style="text-align: center;">Usuario</th>
              <th style="text-align: center;">Departamento</th>
              <th style="text-align: center;">OS</th>
              <!-- <th style="text-align: center;">Version</th> -->
              <th style="text-align: center;">CPU</th>
              <th style="text-align: center;">Memoria</th>
              <th style="text-align: center;">Almacenamiento</th>
              <!-- <th style="text-align: center;">Accion</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Appcontraloria of  appcontraloria; let i = index">
              <td style="text-align: center;">{{Appcontraloria.dispositivo}}</td>
              <td style="text-align: center;">{{Appcontraloria.serial}}</td>
              <td style="text-align: center;">{{Appcontraloria.cedula}}</td>
              <td style="text-align: center;">{{Appcontraloria.usuario}}</td>
              <td style="text-align: center;">{{Appcontraloria.Departamento}}</td>
              <td style="text-align: center;">{{Appcontraloria.os}}</td>
              <!-- <td style="text-align: center;">{{Appcontraloria.version}}</td> -->
              <td style="text-align: center;">{{Appcontraloria.cpu}}</td>
              <td style="text-align: center;">{{Appcontraloria.memoria}}</td>
              <td style="text-align: center;">{{Appcontraloria.almacenamiento}}</td>
              <!-- <td style="text-align: center; vertical-align: middle;">
                <i class="bi bi-trash borrar" title="Borrar"></i>
              </td> -->
            </tr>
          </tbody>
        </table>
        <!-- <button *ngIf="asignacion">Imprimir</button> -->
        <i class="bi bi-printer imprimir" *ngIf="asignacion"  title="Imprimir" (click)="onImprimirAsignacion()"></i>
      </div>
    </div>

    <div class="checkbox">
      <h2>Reporte de los cambios de mantenimiento</h2>
      <mat-checkbox class="checkbox-container" (change)="togglematenimiento($event)">Ver Cambios</mat-checkbox>
      <div *ngIf="mantenimiento || todo">
        <h3>-Se le an hecho mantenimiento a {{registromatenimiento}} dispositivos </h3>
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th style="text-align: center;">Dispositivo</th>
              <th style="text-align: center;">Serial</th>
              <th style="text-align: center;">Placa</th>
              <!-- <th style="text-align: center;">Version</th> -->
              <th style="text-align: center;">Tipo de Mantenimiento</th>
              <th style="text-align: center;">Descripcion</th>
              <th style="text-align: center;">Fisico y Logico</th>
              <th style="text-align: center;">Defragmentacion</th>
              <th style="text-align: center;">Fecha</th>
              <!-- <th style="text-align: center;">Accion</th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <tr *ngFor="let Appcontraloria of appcontraloriaman; let i = index" style="text-align: center;">
                <td style="text-align: center;">{{Appcontraloria.dispositivo}}</td>
                <td style="text-align: center;">{{Appcontraloria.serial}}</td>
                <td style="text-align: center;">{{Appcontraloria.placa}}</td>
                <!-- <td style="text-align: center;">{{Appcontraloria.version}}</td> -->
                <td style="text-align: center;">{{Appcontraloria.tipo_de_mantenimiento}}</td>
                <td style="text-align: center;">{{Appcontraloria.mantenimiento}}</td>
                <td style="text-align: center;">Memoria:{{Appcontraloria.memoria}}, Disco:{{Appcontraloria.almacenamiento}} y
                  Limpieza: {{Appcontraloria.limpieza}}, Os: {{Appcontraloria.os}}</td>
                <td style="text-align: center;">{{Appcontraloria.defragmentacion}}</td>
                <td style="text-align: center;">{{Appcontraloria.fecha_de_mantenimiento}}</td>
              <!-- <td class="button2" style="text-align: center; vertical-align: middle;">
                <i class="bi bi-trash borrar" title="Borrar"></i>
              </td> -->
            </tr>
          </tbody>
        </table>
        <!-- <button *ngIf="mantenimiento">Imprimir</button> -->
        <i class="bi bi-printer imprimir" *ngIf="mantenimiento"  title="Imprimir" (click)="onImprimirManteni()"></i>
      </div>
    </div>
    </div>
</body>