<body>
  <div class="navbar">
    <div class="logo"><img src="assets/1_Horizontal centralizado blanco.png" class="logo1">
      <h5> CONTRALORIA | ASIGNACION</h5>
    </div>
    <div class="user-info">
      <!--button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button-->
      <button [routerLink]="'/home'" class="boton" title="Home">
        <!-- <img src="assets/salir.png"> -->
        <i class="bi bi-box-arrow-right  salida" title="Home"></i>
        <!-- <span>Home</span> -->
      </button>
    </div>
  </div>

  <div class="content">
    <br>
    <div class="navbar1">
      <span> <i class="bi bi-person-add salida"></i>Asignacion</span>
      <!--button  class="boton1">Entrada de uno más registros</button-->
    </div>
    <div class="search-bar mt-3">
      <input class="form-control" type="text" [(ngModel)]="query" (input)="buscar()" placeholder="ej. Laptop">
    </div>
    <p-table  [value]="appcontraloria" [scrollable]="true" scrollHeight="350px" [tableStyle]="{'min-width': '45rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:200px" pSortableColumn="dispositivo">Dispositivo <p-sortIcon field="dispositivo" /></th>
          <th style="width:200px" pSortableColumn="serial">Serial<p-sortIcon field="serial" /></th>
          <th style="width:200px" pSortableColumn="os">Os<p-sortIcon field="os" /></th>
          <th style="width:200px" pSortableColumn="version">Version<p-sortIcon field="version" /></th>
          <th style="width:200px" pSortableColumn="cpu">CPU<p-sortIcon field="cpu" /></th>
          <th style="width:200px" pSortableColumn="memoria">Memoria<p-sortIcon field="memoria" /></th>
          <th style="width:200px" pSortableColumn="almacenamiento">Almacenamiento<p-sortIcon field="almacenamiento" /></th>
          <th style="width:200px" pSortableColumn="mantenimiento">Mantenimiento<p-sortIcon field="mantenimiento" /></th>
          <th style="width:200px" pSortableColumn="accion">Accion <p-sortIcon field="accion" /></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-filteredResults>
        <tr>
          <td style="width:200px" pFrozenColumn class="font-bold">{{filteredResults.dispositivo}}</td>
          <td style="width:200px">
            <span class="image-text ml-2">{{filteredResults.serial}}</span>
          </td>
          <td style="width:200px">
            <span class="image-text ml-2">{{filteredResults.os}}</span>
          </td>
          <td style="width:200px">{{filteredResults.version}}</td>
          <td style="width:200px">{{filteredResults.cpu}}</td>
          <td style="width:200px">
            <span class="image-text ml-2">{{filteredResults.memoria}}</span>
          </td>
          <td style="width:200px">{{filteredResults.almacenamiento}}</td>
          <td style="width:200px">{{filteredResults.mantenimiento}}</td>
          <td style="width:200px; text-align: center; vertical-align: middle;" >
            <i class="bi bi-person-add" (click)="mostrarComponenteedit(filteredResults)" title="Asignar Usuarios"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- <div class="pagination">
      <label for="itemsPerPage">Items per page:</label>
      <select id="itemsPerPage" name="itemsPerPage" (change)="changeItemsPerPage($event)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <span>{{ startIndex }} - {{ endIndex }} of {{ totalItems }}</span>
      <button (click)="prevPage()">&lt;</button>
      <button (click)="nextPage()">&gt;</button>
    </div> -->
  </div>
</body>