<body>
<div class="navbar">
    <div class="logo"><img src="assets/Captura.png" class="logo1"> <h5> CONTRALORIA | ASIGNACION</h5></div>
    <div class="user-info">
        <!--button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button-->
        <button [routerLink]="'/home'" class="boton">
            <img src="assets/salir.png" >
            <i class="pi pi-cog"></i>
            <span>Home</span>
        </button>
    </div>
  </div>
  
  <div class="content">
    <br>
    <div class="navbar1">
      <span >Asignacion</span>
      <!--button  class="boton1">Entrada de uno más registros</button-->
    </div>
      <div class="search-bar mt-3">
        <input type="text" [(ngModel)]="query" (input)="buscar()" placeholder="ej. Laptop">
      </div>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>Dispositivo</th>
            <th>Serial</th>
            <th>Cedula</th>
            <th>Usuario</th>
            <th>Departamento</th>
            <th>OS</th>
            <th>Version</th>
            <th>CPU</th>
            <th>Memoria</th>
            <th>Almacenamiento</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Appcontraloria of filteredResults; let i = index">
            <td>{{Appcontraloria.dispositivo}}</td>
            <td>{{Appcontraloria.serial}}</td>
            <td>{{Appcontraloria.cedula}}</td>
            <td>{{Appcontraloria.usuario}}</td>
            <td>{{Appcontraloria.Departamento}}</td>
            <td>{{Appcontraloria.os}}</td>
            <td>{{Appcontraloria.version}}</td>
            <td>{{Appcontraloria.cpu}}</td>
            <td>{{Appcontraloria.memoria}}</td>
            <td>{{Appcontraloria.almacenamiento}}</td>
            <td class="button2">  
              <!--button  class="boton2" (click)="mostrarComponente()">Asignar Usuario</button-->
              <i class="bi bi-person-add" (click)="mostrarComponenteedit(Appcontraloria)" title="Asignar Usuarios" ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <label for="itemsPerPage">Items per page:</label>
        <select id="itemsPerPage" name="itemsPerPage" (change)="changeItemsPerPage($event)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <span>{{ startIndex }} - {{ endIndex }} of {{ totalItems }}</span>
        <button (click)="prevPage()">&lt;</button>
        <button (click)="nextPage()">&gt;</button>
    </div>
  </div>
</body>