body{
  background-image: url('/./assets/cupula-trans (1).png');
  height: 95%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.navbar {
  background-color: #002774;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 3px solid lightgray; 
  
  }
  .logo1{
    height: 40px;
    width: 60px;
    float: left;
    border-radius: 10px;
  }
h5{
   margin-top: 5px; 
   font-family: 'Times New Roman', Times, serif;
}
.boton{
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  width: 100px; 
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 18px; 
  background-color: #002774;
  border-radius: 100px !important;
  padding: 20px 30px; 
  margin-right: 10px;
  color: #dfdeee;
  text-decoration: none;
  border: 0;
  height: 60px; 
  transition: 0.3s;
  cursor: pointer; 
}
.boton:hover{
  background: #ffffff;
  color: #072879;
  border: 1px solid #072879;
  font-weight: 600;
}

.content {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 20px;
}
table{
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}
th, td{
  text-align: left;
  padding: 8px;
  border:  1px solid #fdfcfc;
  font-family: 'Times New Roman', Times, serif;
}
th{
  background-color: white#f2f2f2;
  border-bottom: 1px solid rgb(82, 81, 81);
  font-family: 'Times New Roman', Times, serif;
}
.navbar1 {
  background-color: #072879;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  color: #dfdeee;
  align-items: center;
  border-radius: 10px;
}
.search-bar {
  width: 300px;
  border-radius: 10px;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
}
.checkbox{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.salida{
  font-size: 30px;
  align-items: center;
  width: 30;
  margin-left: 10px;
}
.header{
  background-color: rgb(252, 251, 251);
  width: 40%;
  padding:len;
  padding: 14px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  &__h1{}
  &__a{}
  &__button{}
  &__svg{
    width: 2en;
    height: 2em;
    margin-right: 10px;
  }
  &__nav{
    background-color: #dfdeee;
  }
  &__ul{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
  }
  &__p{
    margin: 0 .5en;
  }
  &__b{
    background-color: #002774;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  border: 0;
  color: #dfdeee;
  width: 100px;
  height: 40px;
  font-size: 18px;
  position: absolute;
  bottom: 20px
  }
}