<body>
  <div class="navbar">
    <div class="logo"><img src="assets/1_Horizontal centralizado blanco.png" class="logo1">
      <h5> CONTRALORIA | SOLICITUDES</h5>
    </div>
    <div class="user-info">
      <button [routerLink]="'/home'" class="boton" title="Home">
        <i class="bi bi-box-arrow-right  salida" title="Home"></i>
      </button>
    </div>
  </div>

  <div class="content">
    <br>
      <div class="left" *ngIf="emails.length">
        <br>
        <h2>Solicitudes por responder: <i class="bi bi-arrow-clockwise recargar" (click)="cargarCorreos()" title="Cargar"></i></h2>
        <p-scrollPanel [style]="{ width: '100%', height: '450px' }">
          <div class="checkbox" *ngFor="let email of emails">
            <form [formGroup]="form">
              <div class="header">
                <div>
                  <div class="header-content">
                    <h2>Solicitudes</h2>
                    <p class="fecha">{{ email.date }}</p>
                  </div>
                  <p class="gmail">{{ email.from }}</p>
                  <p class="gmailes">{{ email.subject }}</p>
                  <button class="header__button" (click)="mostrarComponente(email)" title="Ver">
                    <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67" />
                    </svg>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </p-scrollPanel>
      </div>
      <br>
      <div *ngIf="!emails.length">
        <br>
        <p>No hay correos electrónicos nuevos.</p>
      </div>         

    <div class="estatico ">
      <div class="right mt-3 ">
        <div class="search-bar mt-3">
          <input type="text" [(ngModel)]="query" (input)="buscar()" class="form-control"
            placeholder="Buscar solicitudes">
        </div>
        <p-table [value]="Correos" [scrollable]="true" styleClass="p-datatable-gridlines" scrollHeight="400px"
          [tableStyle]="{'min-width': '40rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th style="width:200px; text-align: center;" pSortableColumn="correo">Correo <p-sortIcon field="correo" />
              </th>
              <th style="width:200px; text-align: center;" alignFrozen="left" pSortableColumn="asunto" pFrozenColumn
                [frozen]="idFrozen">Asunto <p-sortIcon field="asunto" /></th>
              <th style="width:200px; text-align: center;" pSortableColumn="mensaje">Solicitudes<p-sortIcon
                  field="mensaje" /></th>
              <th style="width:200px; text-align: center;" pSortableColumn="comentario">Comentario <p-sortIcon
                  field="comentario" /></th>
              <th style="width:200px; text-align: center;" >Fecha solicitud </th>
              <th style="width:200px; text-align: center;" >Fecha respuesta </th>
              <th style="width:200px; text-align: center;" pSortableColumn="estatu" pFrozenColumn alignFrozen="right">
                Estatu <p-sortIcon field="estatu" /></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-Correos>
            <tr>
              <td style="width:200px" pFrozenColumn class="font-bold">{{Correos.correo}}</td>
              <td style="width:200px" alignFrozen="left" pFrozenColumn [frozen]="idFrozen"
                [ngClass]="{'font-bold': idFrozen}">{{Correos.asunto}}</td>
              <td style="width:200px">
                <span class="image-text ml-2">{{Correos.mensaje}}</span>
              </td>
              <td style="width:200px">{{Correos.comentario}}</td>
              <td style="width:200px">{{Correos.fecha_solicitud}}</td>
              <td style="width:200px">
                <span class="image-text ml-2">{{Correos.fecha_respuesta}}</span>
              </td>
              <td style="width:200px">
                <p-tag [value]="Correos.estatu" [severity]=" getSeverity(Correos.estatu)" />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</body>