<body>
  <div class="navbar">
    <div class="logo"><img src="assets/1_Horizontal centralizado blanco.png" class="logo1">
      <h5> CONTRALORIA | SOLICITUDES</h5>
    </div>
    <div class="user-info">
      <!--button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button-->
      <button [routerLink]="'/home'" class="boton" title="Home">
        <!-- <img src="assets/salir.png"> -->
        <i class="bi bi-box-arrow-right  salida" title="Home"></i>
        <!-- <span>Home</span> -->
      </button>
    </div>
  </div>

  <div class="content">
    <br>
    <!-- <div class="navbar1">
      <span><i class="bi bi-pencil-square salida"></i>Solicitudes</span>
    </div> -->
    <!-- <div class="search-bar mt-3">
        <input type="text"  placeholder="ej. Laptop">
      </div> -->
    <!-- Dentro de tu HTML -->
<section>
  <div fxLayout="row" fxLayoutAlign="center center" style="overflow-y: auto; max-height: 260px;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="checkbox">
      <div class="header">
        <div >
          <h2>Solicitudes</h2>
          <p class="header__p">gmail.com</p>
          <p class="header__f">Fecha</p>
        </div>
        <button class="header__button" (click)="setactivo()" title="Ver">
          <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
          </svg>
        </button>
        <nav class="header__nav" [ngClass]="{'header__nav--activo': activo}">
          <ul class="header__ul">
            <p class="header__p">iwueiiwgmail.com</p>
            <div class="form-check ">
              <input class="form-check-input radio" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label radio" for="flexRadioDefault1">
                Aprobar
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input radio" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label radio" for="flexRadioDefault2">
                En espera
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input radio" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label radio" for="flexRadioDefault2">
                Rechazar
              </label>
            </div>
            <div class="input-group input-group-sm mb-3">
              <input type="text" class="form-control half-width" placeholder="Asunto" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" formControlName="asunto">
            </div>  
            <div fxLayout="row" fxLayoutAlign="center center" style="overflow-y: auto; max-height: 260px;">          
            <div class="form-floating">
              <textarea class="form-control text" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" formControlName="mensaje"></textarea>
              <label for="floatingTextarea2" class="text">mensaje</label>
            </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control half-width" placeholder="Comentario" aria-label="Username" formControlName="comentario">
            </div>
            <button class="header__b" type="submit">Enviar</button>
          </ul>
        </nav>
      </div>
    </div>
    </form>
  </div>
</section>
        <br>
        <div>
          <div class="search-bar mt-3">
            <input type="text" class="form-control" placeholder="Buscar solicitudes">
          </div>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th style="text-align: center;">Correo</th>
                <th style="text-align: center;">Asunto</th>
                <th style="text-align: center;">Mensaje</th>
                <th style="text-align: center;">Comentario</th>
                <th style="text-align: center;">Fecha de solicitud </th>
                <th style="text-align: center;">Fecha de respuesta</th>
                <th style="text-align: center;">Estatu</th>
                <!-- <th style="text-align: center;">Accion</th> -->
              </tr>
            </thead>
          </table>
          <div fxLayout="row" fxLayoutAlign="center center" style="overflow-y: auto; max-height: 260px;">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <!-- <td style="text-align: center; vertical-align: middle;">
            <i class="bi bi-plus-lg editar" (click)="mostrarComponenteagre(Appcontraloria)" title="Agregar"
            style="font-size: 25px; align-items: center;"></i>
          </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <!-- </div>
    </section> -->
  </div>
</body>