<div class="navbar">
    <div class="logo"><img src="assets/logocontraloria.png" class="logo1"> <h5> CONTRALORIA | SOLICITUDES</h5></div>
    <div class="user-info">
        <!--button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button-->
        <button [routerLink]="'/home'">
            <img src="assets/salir.png" >
            <i class="pi pi-cog"></i>
            <span>Home</span>
        </button>
      <!-- Iconos y nombre del usuario aquí -->
    </div>
  </div>
  
  <div class="content">
    <!-- Contenido principal aquí -->
  </div>
  