<div fxLayout="row" fxLayoutAlign="center center">
   <div class="container">
    <br>
        <h1>Añadir Registro/s</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">

          <mat-form-field appearance="outline">
            <mat-label>Dispositivo</mat-label>
            <mat-select  placeholder="Seleccione un Dispositivo"  name="opciones" formControlName="dispositivo" >
                <mat-option value="Desktop">Desktop</mat-option>
                <mat-option value="Laptop">Laptop</mat-option>
                <mat-option value="Monitor">Monitor</mat-option>
                <mat-option value="Telefono">Telefono</mat-option>
                <mat-option value="Printer">Printer</mat-option>
                <mat-option value="Mouse">Mouse</mat-option>
                <mat-option value="Teclado">Teclado</mat-option>
                <mat-option value="Proyector">Proyector</mat-option>
                <mat-option value="Audifonos">Audifonos</mat-option>
                <mat-option value="Puntero">Puntero</mat-option>
            </mat-select>
        </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Modelo</mat-label>
            <input matInput type="text" placeholder="ej. Pro Desk" formControlName="modelo">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Serial</mat-label>
          <input matInput type="text" placeholder="ej. 1xcs45" formControlName="serial">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Placa</mat-label>
        <input matInput type="text" placeholder="ej. 1234" formControlName="placa">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Bienes Nacionales</mat-label>
      <input matInput type="text" placeholder="ej. 123456" formControlName="bienes_nacionales">
  </mat-form-field>

  <ng-container *ngIf="form.get('dispositivo')?.value === 'Monitor'">
    <mat-form-field appearance="outline">
      <mat-label>Tamaño</mat-label>
      <mat-select placeholder="Seleccione un Tamaño" formControlName="tamaño">
        <mat-option value="17">17''</mat-option>
        <mat-option value="24">24''</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="form.get('dispositivo')?.value === 'Desktop' || form.get('dispositivo')?.value === 'Laptop'">
    <mat-form-field appearance="outline">
      <mat-label>OS</mat-label>
      <mat-select placeholder="Seleccione un OS" formControlName="os">
        <mat-option value="Windows_10">Windows 10</mat-option>
        <mat-option value="Windows_11">Windows 11</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="form.get('dispositivo')?.value === 'Desktop' || form.get('dispositivo')?.value === 'Laptop'">
    <mat-form-field appearance="outline">
      <mat-label>CPU</mat-label>
      <mat-select placeholder="Seleccione un CPU" formControlName="cpu">
        <mat-option value="i3">i3</mat-option>
        <mat-option value="i5">i5</mat-option>
        <mat-option value="i7">i7</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="form.get('dispositivo')?.value === 'Desktop' || form.get('dispositivo')?.value === 'Laptop'">
    <mat-form-field appearance="outline">
      <mat-label>Memoria RAM</mat-label>
      <mat-select placeholder="Seleccione un memoria" formControlName="memoria">
        <mat-option value="8Gb">8Gb</mat-option>
        <mat-option value="16Gb">16Gb</mat-option>
        <mat-option value="32Gb">32Gb</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="form.get('dispositivo')?.value === 'Desktop' || form.get('dispositivo')?.value === 'Laptop'">
    <mat-form-field appearance="outline">
      <mat-label>Almacenamiento</mat-label>
      <mat-select placeholder="Seleccione almacenamiento" formControlName="almacenamiento">
        <mat-option value="256Gb">256Gb</mat-option>
        <mat-option value="512Gb">512Gb</mat-option>
        <mat-option value="1Tb">1Tb</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
        </div>
        <div class="cardbutton">
          <button type="submit">Guardar</button>
          <button (click)="cerrarCentrado()">Cancelar</button>
        </div>
        </form>
   </div>   
</div>