<div fxLayout="row" fxLayoutAlign="center center">
    <div class="container">
        <h3>¿Esta seguro/a de que quiere borrar el registro definivamente?</h3>
        <div class="cardbutton">
            <i class="bi bi-x-circle no" title="No" (click)="cerrarCentrado()"></i>
            <i class="bi bi-check-circle si" title="Si" (click)="onClickDelete(data)"></i>
            <!-- <button (click)="onClickDelete(data)">Si</button>
            <button (click)="cerrarCentrado()">No</button> -->
          </div>
    </div>
</div>