<body>
  <div class="navbar">
    <div class="logo"><img src="assets/Captura.png" class="logo1">
      <h5> CONTRALORIA | ELIMINADOS</h5>
    </div>
    <div class="user-info">
      <!--button class="p-link layout-topbar-button">
                <i class="pi pi-user"></i>
                <span>Profile</span>
            </button-->
      <button [routerLink]="'/home'" class="boton">
        <img src="assets/salir.png">
        <i class="pi pi-cog"></i>
        <span>Home</span>
      </button>
      <!-- Iconos y nombre del usuario aquí -->
    </div>
  </div>

  <div class="contenedor">
    <mat-sidenav-container class="contenedor-menu">
      <mat-sidenav #cajon mode="side" opened>
        <mat-nav-list style="text-align: center; vertical-align: middle;">
          <a mat-list-item routerLink="/almacen"> <i class="bi bi-shop-window" style="font-size: 30px" title="Almacen"></i></a>
          <a mat-list-item routerLink="/borrador"> <i class="bi bi-trash" style="font-size: 30px" title="Eliminados"></i></a>
        </mat-nav-list>
        <div class="imagen-menu">
          <img src="assets/inicio.png" alt="">
        </div>
    </mat-sidenav> 
  </mat-sidenav-container>

        <!-- <mat-sidenav-content> -->
          <div class="content">
            <br>
            <div class="navbar1">
              <span><img src="assets/borrador.png" class="img2">Eliminados</span>
            </div>
            <div class="search-bar mt-3">
              <input placeholder="ej. Laptop">
            </div>
            <table class="table table-striped mt-3">
              <thead>
                <tr>
                  <th style="text-align: center;">Dispositivo</th>
                  <th style="text-align: center;">Modelo</th>
                  <th style="text-align: center;">Serial</th>
                  <th style="text-align: center;">Placa</th>
                  <th style="text-align: center;">Bienes Nacionales</th>
                  <th style="text-align: center;">Fecha de eliminacion</th>
                  <th style="text-align: center;">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;"></td>
                  <td style="text-align: center; vertical-align: middle;">
                  <i class="bi bi-plus-lg editar" title="Agregar" style="font-size: 25px; align-items: center;"></i>
                  <i class="bi bi-trash borrar" title="Borrar" style="font-size: 25px; align-items: center;"></i>
                </td>
                </tr>
              </tbody>
            </table>
            <!-- <div class="pagination">
            <label for="itemsPerPage">Items per page:</label>
            <select id="itemsPerPage" name="itemsPerPage" (change)="changeItemsPerPage($event)">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <span>{{ startIndex }} - {{ endIndex }} of {{ totalItems }}</span>
            <button (click)="prevPage()">&lt;</button>
            <button (click)="nextPage()">&gt;</button>
          </div> -->
          </div>
         
        <!-- </mat-sidenav-content> -->
    <!-- </mat-sidenav-container> -->
  </div>
</body>