<body>
<div class="navbar">
    <div class="logo"><img src="assets/Captura.png" class="logo1"> <h5> CONTRALORIA | MANTENIMIENTO</h5></div>
    <div class="user-info">
        <!--button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button-->
        <button [routerLink]="'/home'" class="boton">
            <img src="assets/salir.png" >
            <i class="pi pi-cog"></i>
            <span>Home</span>
        </button>
      <!-- Iconos y nombre del usuario aquí -->
    </div>
  </div>
  
  <div class="content">
    <br>
    <div class="navbar1">
      <span >Mantenimiento</span>
      <!--button  class="boton1">Entrada de uno más registros</button-->
    </div>
      <div class="search-bar mt-3">
        <input type="text"  placeholder="ej. Laptop">
      </div>
  </div>
</body>