.dialog-container {
  z-index: 2000;
  position: relative;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 800px; 
margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  padding-left: 20px;
  margin-right: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
}

.mat-form-field {
  width: 40%; 
margin-bottom: 15px; 
}

button {
background-color:hsl(0, 82%, 37%);
border-radius: 5px!important;
font-family: 'Times New Roman', Times, serif;
border: 0;
color: #dfdeee;
margin-right: 10px;
width: 100px;
height: 40px;
font-size: 18px;
}
.cardbutton{
display: flex;
justify-content: flex-end;
}
button:hover{
background: #ffffff;
color: #ff000d;
border: 0;
font-weight: 600;
} 
h3{
  margin-top: 5px; 
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: left;
}
.checkboxes-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

 .select-container, .description-container {
  flex: 1 1 50%;
  margin-bottom: 15px;
  padding-right: 10px;
}

.mat-form-field {
  width: 250%;
}
