<body>
<div class="navbar">
    <div class="logo"><img src="assets/Captura.png" class="logo1"> <h5> CONTRALORIA | ALMACEN</h5></div>
    <div class="user-info">
        <!--button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button-->
        <button [routerLink]="'/home'" class="boton">
          <img src="assets/salir.png" >
          <i class="pi pi-cog"></i>
          <span>Home</span>
      </button>
      <!-- Iconos y nombre del usuario aquí -->
    </div>
  </div>
  
  <div class="content">
    <br>
    <div class="navbar1">
      <span><img src="assets/almacen.png" class="img2">Almacen</span>
      <!--button  class="boton1">Entrada de uno más registros</button-->
    </div>
      <div class="search-bar mt-3">
        <input type="text" [(ngModel)]="query" (input)="buscar()" placeholder="ej. Laptop">
      </div>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th style="text-align: center;">Dispositivo</th>
            <th style="text-align: center;">Modelo</th>
            <th style="text-align: center;">Serial</th>
            <th style="text-align: center;">Placa</th>
            <th style="text-align: center;">Bienes Nacionales</th>
            <th style="text-align: center;">Usuario</th>
            <th style="text-align: center;">Fecha de entrada</th>
            <th style="text-align: center;">Fecha de Asignacion</th>
            <!-- <th style="text-align: center;">Accion</th> -->
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let Appcontraloria of filteredResults; let i = index">
            <td style="text-align: center;">{{Appcontraloria.dispositivo}}</td>
            <td style="text-align: center;">{{Appcontraloria.modelo}}</td>
            <td style="text-align: center;">{{Appcontraloria.serial}}</td>
            <td style="text-align: center;">{{Appcontraloria.placa}}</td>
            <td style="text-align: center;">{{Appcontraloria.bienes_nacionales}}</td>
            <td style="text-align: center;">{{Appcontraloria.usuario}}</td>
            <td style="text-align: center;">{{Appcontraloria.fecha_de_entrada}}</td>
            <td style="text-align: center;">{{Appcontraloria.fecha_de_asignacion}}</td>
            <!-- <td style="text-align: center; vertical-align: middle;">
              <i class="bi bi-pencil-square editar" (click)="mostrarComponenteedit(Appcontraloria)" title="Editar"></i>
              <i class="bi bi-trash borrar" (click)="onClickDelete(Appcontraloria)" title="Borrar"></i>
            </td> -->
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <label for="itemsPerPage">Items per page:</label>
        <select id="itemsPerPage" name="itemsPerPage" (change)="changeItemsPerPage($event)">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <span>{{ startIndex }} - {{ endIndex }} of {{ totalItems }}</span>
        <button (click)="prevPage()">&lt;</button>
        <button (click)="nextPage()">&gt;</button>
      </div>
  </div>
</body>