<body>
<div class="container">
    <div class="left">
        <img class="image" src="assets/inicio.png" alt="" >
        <h2>Contraloria General de la Republica</h2>
<br>
        <button (click)="onClick()"> <i class="bi bi-box-arrow-right  salida"></i> Salir</button>
    </div>
    <div class="right mt-3"> 
      <!--h3>Contraloria General</h3-->
      <div class="page1" (click)=" redirigirARegistros()"><i class="bi bi-file-earmark-text entra"></i> Registros Generales</div>
      <div class="page1" (click)=" redirigirAEntrada()"><i class="bi bi-box-arrow-in-down entra"></i> Entrada</div>
      <div class="page1" (click)="redirigirAAsignacion()"><i class="bi bi-person-add asig"></i> Asignacion</div>
      <div class="page1" (click)="redirigirAAlmacen()"><i class="bi bi-box-seam alma"></i> Almacen</div>
      <!-- <div class="page1" (click)="redirigirADescargo()"><i class="bi bi-box-arrow-down entra"></i> Descargo</div> -->
      <div class="page1" (click)="redirigirADescargoBN()"><!--<img src="assets/descargo-BN.png" class="img">--><i class="bi bi-cloud-download entra"></i> Descargo BN</div>
      <div class="page1" (click)="redirigirAMantenimiento()"><i class="bi bi-gear mante"></i> Mantenimiento</div>
      <div class="page1" (click)=" redirigirAReporte()"><i class="bi bi-journal-text entra"></i> Reporte</div>
      <div class="page1" (click)="redirigirASolicitudes()"><i class="bi bi-pencil-square entra"></i> Solicitudes</div>
      
    </div>
  </div>
</body>