<body>
<div class="container">
    <div class="left">
        <img class="image" src="assets/inicio.png" alt="" >
        <h2>Contraloria General de la Republica</h2>
<br>
        <button (click)="onClick()"> <i class="bi bi-box-arrow-right  salida"></i> Salir</button>
    </div>
    <div class="right mt-3"> 
      <!--h3>Contraloria General</h3-->
      <div class="page1" (click)=" redirigirARegistros()"><img src="assets/registro.png" class="img"> Registros Generales</div>
      <div class="page1" (click)=" redirigirAEntrada()"><img src="assets/entrada.png" class="img"> Entrada</div>
      <div class="page1" (click)="redirigirAAsignacion()"><img src="assets/asignacion.png" class="img"> Asignacion</div>
      <div class="page1" (click)="redirigirAAlmacen()"><img src="assets/almacen.png" class="img"> Almacen</div>
      <div class="page1" (click)="redirigirADescargo()"><img src="assets/descargo.png" class="img"> Descargo</div>
      <div class="page1" (click)="redirigirADescargoBN()"><img src="assets/descargo-BN.png" class="img"> Descargo BN</div>
      <div class="page1" (click)="redirigirAMantenimiento()"><img src="assets/mantenimiento.png" class="img"> Mantenimiento</div>
      <div class="page1" (click)=" redirigirAReporte()"><img src="assets/reporte.png" class="img"> Reporte</div>
      <div class="page1" (click)="redirigirASolicitudes()"><img src="assets/solicitudes.png" class="img"> Solicitudes</div>
      
    </div>
  </div>
</body>