<div>
  <div class="container w-full max-w-xs login">
    <form name="form1" class="box px-2" [formGroup]="formReg" (ngSubmit)="onSubmit()">
      <img class="image" src="assets/inicio.png" alt="">
      <h4 class="text-gray-600 font-bold">Crear una cuenta</h4>
      <div class="input-container">

        <div class="flex">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de usuario</mat-label>
              <input matInput  placeholder="Nombre de usuario" formControlName="usuario" class="input-nu">
          </mat-form-field>
            <div *ngIf="formReg.controls['usuario']?.errors?.['required'] && (formReg.controls['usuario']?.dirty || formReg.controls['usuario']?.touched)">
              El nombre de usuario es requerido.
            </div>
        </div>

        <div class="flex">
            <mat-form-field appearance="outline">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput  placeholder="Correo Electrónico" formControlName="email" class="input-nu">
          </mat-form-field>
            <div *ngIf="formReg.controls['email']?.errors?.['required'] && (formReg.controls['email']?.dirty || formReg.controls['email']?.touched)">
              El correo electrónico es requerido.
            </div>
            <div *ngIf="formReg.controls['email']?.errors?.['email'] && (formReg.controls['email']?.dirty || formReg.controls['email']?.touched)">
              El correo electrónico no es válido.
            </div>
        </div>

        <div class="flex form-element">
          <p-password type="password" formControlName="password" class="form-element input-field password"
            placeholder="Contraseña" autocomplete="off" [toggleMask]="true">
            <ng-template pTemplate="header">
              <h6>Elige una contraseña</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Sugerencias</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>Al menos una minúscula</li>
                <li>Al menos una mayúscula</li>
                <li>Al menos un número</li>
                <li>Mínimo 8 caracteres</li>
              </ul>
            </ng-template>
          </p-password>
          <div *ngIf="formReg.controls['password']?.errors?.['required'] && (formReg.controls['password']?.dirty || formReg.controls['password']?.touched)">
            La contraseña es requerida.
          </div>
          <div *ngIf="formReg.controls['password']?.errors?.['minlength'] && (formReg.controls['password']?.dirty || formReg.controls['password']?.touched)">
            La contraseña debe tener al menos 8 caracteres.
          </div>
        </div>

        <div class="flex  form-element">
          <p-password type="text" formControlName="confirmarC"
            placeholder="Confirmar Contraseña" autocomplete="off" [toggleMask]="true" [feedback]="false" class="form-element input-field password">
          </p-password>
          <div *ngIf="formReg.controls['confirmarC']?.errors?.['required'] && (formReg.controls['confirmarC']?.dirty || formReg.controls['confirmarC']?.touched)">
            Por favor confirme su contraseña.
          </div>
          <div *ngIf="formReg.errors?.['passwordMismatch'] && (formReg.controls['confirmarC']?.dirty || formReg.controls['confirmarC']?.touched)">
            Las contraseñas no coinciden.
          </div>
        </div>

        <div class="accion">
          <button type="submit" value="Registrarse" class="btn1">Registrarse</button>
          <br>
          <span > Regresar al login. <a href="/login"> <span
              class="underline-on-hover">Login</span> </a>
            <i class="pi pi-eye-slash eye"></i>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>